In [2]:
# in your notebook cell
import sys
# path relative to your notebook
sys.path.append("/Users/joel/Desktop/daimil10/capstone_1/DC-Metro-Crime-Data-2007---2017/src")
# import as usual
import functions

# autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json
from pandas import json_normalize

In [5]:
df = functions.read_file('/Users/joel/Desktop/daimil10/capstone_1/DC-Metro-Crime-Data-2007---2017/data/dc_crime_add_vars.csv')
df = df.drop(['Unnamed: 0', 'X'], axis=1)
df.head()

,REPORT_DAT,SHIFT,OFFENSE,METHOD,BLOCK,DISTRICT,PSA,WARD,ANC,NEIGHBORHOOD_CLUSTER,...,year,month,day,hour,minute,second,EW,NS,quad,crimetype
0,8/31/2008 8:47:00 PM,EVENING,THEFT/OTHER,OTHERS,3500 - 3599 BLOCK OF R STREET NW,2.0,206.0,2,2E,Cluster 4,...,2008,8,31,20,47,0,West,North,Northwest,Non-Violent
1,9/1/2008 12:45:00 AM,MIDNIGHT,MOTOR VEHICLE THEFT,OTHERS,2000 - 2015 BLOCK OF O STREET NW,2.0,208.0,2,2B,Cluster 6,...,2008,9,1,0,45,0,West,North,Northwest,Non-Violent
2,9/1/2008 3:00:00 AM,MIDNIGHT,THEFT/OTHER,OTHERS,700 - 799 BLOCK OF 11TH STREET NW,1.0,101.0,2,2C,Cluster 8,...,2008,9,1,3,0,0,East,North,Northeast,Non-Violent
3,9/9/2008 7:46:00 AM,DAY,THEFT/OTHER,OTHERS,1700 - 1799 BLOCK OF P STREET NW,2.0,208.0,2,2B,Cluster 6,...,2008,9,9,7,46,0,West,North,Northwest,Non-Violent
4,8/24/2008 8:00:00 PM,EVENING,MOTOR VEHICLE THEFT,OTHERS,500 - 599 BLOCK OF INDIANA AVENUE NW,1.0,102.0,2,2C,Cluster 8,...,2008,8,24,20,0,0,East,North,Northeast,Non-Violent

In [412]:
df.describe()

,DISTRICT,PSA,WARD,CENSUS_TRACT,CCN,XBLOCK,YBLOCK,year,month,day,hour,minute,second
count,"342,667","342,616","342,867","341,776","342,867","342,867","342,867","342,867","342,867","342,867","342,867","342,867","342,867"
mean,4,378,4,"6,219","12,652,853",-77,39,"2,013",7,16,13,26,7
std,2,197,2,"3,137","2,845,777",0,0,3,3,9,6,18,15
min,1,101,1,100,"100,060",-77,39,"2,008",1,1,0,0,0
25%,2,206,2,"3,500","10,124,912",-77,39,"2,010",4,8,9,10,0
50%,4,401,5,"7,000","13,030,744",-77,39,"2,013",7,16,14,28,0
75%,5,507,6,"8,904","15,102,580",-77,39,"2,015",9,23,18,42,0
max,7,708,8,"11,100","99,438,989",-77,39,"2,017",12,31,23,59,59

In [413]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342867 entries, 0 to 342866
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   REPORT_DAT            342867 non-null  object
 1   SHIFT                 342867 non-null  object
 2   OFFENSE               342867 non-null  object
 3   METHOD                342867 non-null  object
 4   BLOCK                 342867 non-null  object
 5   DISTRICT              342667 non-null  float64
 6   PSA                   342616 non-null  float64
 7   WARD                  342867 non-null  int64
 8   ANC                   342867 non-null  object
 9   NEIGHBORHOOD_CLUSTER  338162 non-null  object
 10  BLOCK_GROUP           341776 non-null  object
 11  CENSUS_TRACT          341776 non-null  float64
 12  VOTING_PRECINCT       342783 non-null  object
 13  CCN                   342867 non-null  int64
 14  START_DATE            342854 non-null  object
 15  END_DATE              331216 non-null  object
 16  XBLOCK                342867 non-null  float64
 17  YBLOCK                342867 non-null  float64
 18  optional              342867 non-null  bool
 19  date                  342867 non-null  object
 20  year                  342867 non-null  int64
 21  month                 342867 non-null  int64
 22  day                   342867 non-null  int64
 23  hour                  342867 non-null  int64
 24  minute                342867 non-null  int64
 25  second                342867 non-null  int64
 26  EW                    342867 non-null  object
 27  NS                    342867 non-null  object
 28  quad                  342867 non-null  object
 29  crimetype             342867 non-null  object
dtypes: bool(1), float64(5), int64(8), object(16)
memory usage: 76.2+ MB

In [414]:
df.index

RangeIndex(start=0, stop=342867, step=1)

In [415]:
df.columns

Index(['REPORT_DAT', 'SHIFT', 'OFFENSE', 'METHOD', 'BLOCK', 'DISTRICT', 'PSA',
       'WARD', 'ANC', 'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'CCN', 'START_DATE', 'END_DATE', 'XBLOCK', 'YBLOCK',
       'optional', 'date', 'year', 'month', 'day', 'hour', 'minute', 'second',
       'EW', 'NS', 'quad', 'crimetype'],
      dtype='object')

In [422]:
missing_v = df.isnull().sum()
missing_v

REPORT_DAT                  0
SHIFT                       0
OFFENSE                     0
METHOD                      0
BLOCK                       0
DISTRICT                  200
PSA                       251
WARD                        0
ANC                         0
NEIGHBORHOOD_CLUSTER     4705
BLOCK_GROUP              1091
CENSUS_TRACT             1091
VOTING_PRECINCT            84
CCN                         0
START_DATE                 13
END_DATE                11651
XBLOCK                      0
YBLOCK                      0
optional                    0
date                        0
year                        0
month                       0
day                         0
hour                        0
minute                      0
second                      0
EW                          0
NS                          0
quad                        0
crimetype                   0
dtype: int64

In [6]:
df = functions.drop_rows_with_missing_data(df)